@import url(http://fonts.googleapis.com/css?family=Pacifico);

#owl {
	padding-bottom: 22px;
	overflow: hidden;
	z-index: 1;
	position: relative;

}



#owl .owl-item {
	float: left;
	width: 100%;
}

#owl .item {
	overflow: hidden;
	color: #aeaeae;
	padding-left: 15px;
	position: relative;
	text-align: left;
}

#owl blockquote {
	background: url(../images/quotes_big.png) 0 18px no-repeat;
}

#owl blockquote img {
	position: absolute;
	right: 0;
	bottom: -7px;
}

#owl blockquote p {
	padding-right: 32px;
	padding-top: 18px;
	position: relative;
	padding-left: 33px;
	margin-bottom: 26px;
}

#owl .item>.car_img {
	margin-top: 11px;
	margin-right: 36px;
	border: 3px solid #2e2e2e;
	border-radius: 500px;
	float: left;
	 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}

#owl .item>.car_img  img {
	border-radius: 500px;
}

#owl blockquote .bq_bot {
	font: 20px/20px 'Yanone Kaffeesatz', sans-serif;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 1px #000;
}

.owl-wrapper-outer {
	padding-top: 0;
	overflow: hidden;
}


#owl .owl-prev, #owl .owl-next {
	cursor: pointer;
	position: absolute;
	background: url(../images/prevnext1.png) 0 0 no-repeat;
	display: block;
	height: 13px;
	left: 55px;
	bottom: 6px;
	width: 9px;
	overflow: hidden;
	text-indent: -999px;

}

#owl .owl-next {
	left: 75px;
	background-position: right bottom;

}
#owl .owl-next:hover {
	background-position: right 0;
}



#owl .owl-prev:hover {
	background-position: 0 bottom;
}





/* Owl content */



.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-perspective: 1000;
}


/*2nd*/
#owl1 {
	overflow: hidden;
	z-index: 1;
	margin-top: -70px;
	position: relative;

}


#owl1 .owl-item {
	float: left;
	width: 100%;
}


#owl1  .item {
	overflow: hidden;
}

#owl1 .alright span{
	display: block;
	margin-bottom: 3px;
	padding-top: 18px;
	font: 23px/18px 'Pacifico', cursive;
}

#owl1 .fleft {
	margin-top: 0;
	position: relative;
	top: -3px;
}

.owl-wrapper-outer {
	overflow: hidden;
}


#owl1 .owl-prev, #owl1 .owl-next {
	cursor: pointer;
	position: absolute;
	background: url(../images/prevnext.png) 0 0 no-repeat;
	display: block;
	height: 37px;
	right: 36px;
	top: 0;
	width: 36px;
	overflow: hidden;
	text-indent: -999px;

}

#owl1 .owl-next {
	right: 0px;
	background-position: right bottom;

}
#owl1 .owl-next:hover {
	background-position: right 0;
}



#owl1 .owl-prev:hover {
	background-position: 0 bottom;
}

